extends layout

block content
    h2.naslov.center-align Dodavanje novog artikla
        .row
            .col.s6.offset-s3
                form(action="/additem/"+storeId, method="post")
                    input(type="hidden", name="_csrf" value=_csrf)
                    .input-field
                        label(for="name") Naziv artikla
                        input.validate(type="text",name="name",required="",pattern=".{3,}",title="Ime mora biti duzine barem 3 karaktera",data-length="255")
                    .input-field
                        label(for="description") Opis artikla
                        textarea.materialize-textarea.validate(type="text",name="description",pattern=".{6,}",title="Opis mora biti duzine barem 6 karaktera",required="",data-length="65535")
                    br
                        
                    .row
                        a.waves-effect.waves-light.btn.col.m5.space(href="/ouritems") Nazad
                        input.waves-effect.waves-light.btn.col.m5.right(type="submit", value="Dodaj artikal")
