extends layout

block content
    h2.naslov Dodavanje novog eventa
        .row
            .col.s6.offset-s3
                form(action="/addevent", method="post")
                    input(type="hidden", name="_csrf" value=_csrf)
                    .input-field
                        label(for="name") Naziv
                        input.validate(type="text",name="name",required="",pattern=".{3,}",title="Ime mora biti duzine barem 3 karaktera",data-length="255")
                    .input-field
                        label(for="description") Opis
                        textarea.materialize-textarea.validate(type="text",name="description",pattern=".{6,}",title="Opis mora biti duzine barem 6 karaktera",required="",data-length="65535")
                    
                    .input-field
                        label(for="date") Datum
                        input.validate(type="text",name="date",required="", placeholder="yyyy-mm-dd",pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))",title="Datum unesite u formatu gggg-mm-dd")
                      
                    div
                        label(for="type") Tip eventa
                        select(name="type")
                            option(value="Rodjendan") Rodjendan
                            option(value="Vjencanje") Vjencanje
                            option(value="Rodjenje djeteta") Rodjenje djeteta
                            option(value="Preseljenje u drugi dom") Preseljenje u drugi dom
                            option(value="Diploma") Diploma
                        
              

                    input.waves-effect.waves-light.btn(type="submit", value="Dodaj event")

                    script.
                        $(document).ready(function() {
                        $('select').material_select();
                        });
              