extends layout

block content

    h2.naslov.center-align Nemate pravo pristupa ovoj stranici

    if error
        h3.naslov.center-align Greska:#{error}
    br

    a(href="/" style="text-align:center;display:block;") Povratak na pocetnu stranu