extends layout

block content
  if !user
    h1.naslov.center-align Dobrodosli na stranicu TSgifts!
    br
    h4.naslov.center-align Pozivamo vas da se pridruzite svijetu u kojem dobijate samo poklone koje zelite!
    h5.naslov.center-align Za koristenje usluga stranice je potrebno imati kreiran korisnicki racun.
  if user
    h1.naslov.center-align Dobrodosao/la #{user.name} #{user.surname}
  
