doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/materialize.min.css')
  body
    nav
      a.brand-logo(href="#") Logo
      .nav-wrapper
        ul#nav-mobile.right.hide-on-med-and-down
          if !user
            li 
              a(href="/auth/register") Register
            li
              a(href="/auth/login") Login
          if user
            if (user.type = 1)
              li 
                a(href="/myevents") Moji eventi
              li
                a(href="/myinvitations") Moji pozivi
              li
                a(href="/addevent") Dodaj event
            li
              a(href="/auth/logout") Logout

    script(src="/javascripts/jquery-3.2.1.min.js")
    script(src="/javascripts/materialize.min.js")
    br
    .container
      a(href="/nemoze") check
      block content
