extends layout

block content
    h3.naslov.center-align Prijava korisnika
        if err
            p #{err}
        if !user
            .row
                .col.s6.offset-s3
                    form(action="/auth/login", method="post")
                        input(type="hidden", name="_csrf", value=_csrf)
                        .input-field
                            label(for="username") Korisnicko ime
                            input#first.validate(type="text",required="", name="username")
                        .input-field
                            label(for="password") Korisnicka sifra
                            input#second.validate(type="password",required="", name="password")
                        input.waves-effect.waves-light.btn(type="submit", value="Prijavi se")
        else
            p Vec ste prijavljeni