extends layout

block content
    h3.naslov.center-align Registracija korisnika
        if err
            p #{err}
        if !user
            .row
                .col.s6.offset-s3
                    form(action="/auth/register", method="post")
                        input(type="hidden", name="_csrf" value=_csrf)
                        .input-field
                            label(for="username") Korisnicko ime
                            input#first(type="text", name="username")
                        .input-field
                            label(for="name") Ime
                            input(type="text",name="name")
                        .input-field
                            label(for="surname") Prezime
                            input(type="text",name="surname")
                        .input-field
                            label(for="password") Korisnicka sifra
                            input#second(type="password", name="password")
                        .input-field
                            label(for="password_confirm") Ponovljena korisnicka sifra
                            input#second(type="password", name="password_confirm")
                        input.waves-effect.waves-light.btn(type="submit", value="Registruj se")
        else
            p Vec ste prijavljeni