body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.body-width{
  
}

.space{
  margin-right: 15px;
}

.naslov{
  color:#00695c;
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}